{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
    <div class="col-md-8">
        <form class="form-inline my-2 my-lg-0" id="allPostsSearch" method="GET">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by tag or title..." 
                aria-label="Search" name="q">
                <div class="input-group-append">
                    <button class="btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    <!-- posts -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <h3><a class="article-title" href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h3>
              <h6><a href="{% url 'profile' pk=post.user.pk %}">
                {{ post.user.username }}</a> | {{ post.published }}</h6>
            </div>
            <p class="article-content">{{ post.content|slice:":300" }}</p>
          </div>
    </article>

    {% endfor %}
    </div>
</div>
</div>
{% endblock %}