{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
    <div class="col-md-8">
        <form class="form-inline my-2 my-lg-0" method="GET">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Article title..." 
                aria-label="Search" name="q">
                <div class="input-group-append">
                    <button class="btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    <!-- posts -->
    {% for post in posts %}
        <div class="card">
        <div class="card-body">
        <div class="post">
            <div class="post_details">
                <h1>
                    <a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a>
                </h1>
                <h6>{{ post.published }}</h6>
                <h5><a href="{% url 'profile' pk=post.user.pk %}">
                    {{ post.user.username }}</a></h5>
            </div>
            <p class="card-text">{{ post.content|slice:":400" }}...</p>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}