.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 10rem; 
}

.card-img-top {
  height: 3rem; 
  object-fit: cover;
}

.card-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.35rem;
}

.card-text {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #204235;
  border-color: #204235;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  border-radius: 1rem;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #79918d;
  border-color:  #79918d;;
}


.mb-4 {
  margin-bottom: 2rem;
}

/* расположить по центру*/
.card-deck {
  /*display: flex;
  flex-wrap: wrap;*/
  justify-content: center;
}
