
.navbar {
  background-color: #a1abb3;
  border-bottom: 0.5px solid #2e4352;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

@media (max-width: 768px) {

  .navbar-brand {
    display: none;
  }

  .navbar-nav {
    margin: auto;
  }
}