{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}
<link rel="stylesheet" href="{% static 'login_style.css' %}">

{% block content %}
<div class="row justify-content-center align-items-center">
  <div class="col-md-4">
    <div id="login_form">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center mb-4">Sign Up</h2>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password1" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="password">Repeat password</label>
          <input type="password" id="password" name="password2" class="form-control" required />
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

